@import "../abstracts/variables";

.detailsWrapper
{
    display: flex;
    width: 100%;
    min-width: 500px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    > div
    {
        &:first-of-type
        {
            display: flex;
            flex-direction: column;
            margin-right: 40px;
        }

        > div
        {
            &:first-of-type
            {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    img
    {
        width: 306px;
        height: 306px;
        margin-left : 24px;
        margin-right: 24px;
        border-radius: 10px;
        box-shadow: 4px 4px 29px rgb(15 23 42 / 14%), 4px -2px 30px rgb(15 23 42 / 10%);
    }
}

.detailsSub
{
    width: 374px;
}

a.link
{
    color: $text-primary;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 6px;
    font-size:17px;
    padding:0;
    text-shadow: 1px 2px rgb(25 25 25 / 60%);
    margin-bottom: -6px;

    svg
    {
        margin-left: 6px;
        opacity: 0;
        transition: all 333ms ease-in-out;
    }

    &:hover
    {
        color: $color-tertiary;
    }

    &.state
    {
        color: $color-primary;
        margin: 40px auto 10px auto;
        font-size: 24px;

        &:hover
        {
            color: $color-tertiary;
        }
    }
}

.title
{
    font-size: 22px;
    text-shadow: 2px 2px rgb(25 25 25 / 80%);

    font-weight: bold;
    margin: 2px auto 24px auto;
    color: $text-secondary;

    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
    display: block; // fallback
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

div.field
{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    > span
    {
        &:first-of-type
        {
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1px;
            text-shadow: 2px 2px rgb(25 25 25 / 80%);
        }

        &:last-of-type
        {
            text-shadow: 1px 1px rgb(25 25 25 / 60%);
            margin-top: 4px;
            letter-spacing: 0.4px;
            font-size: 18px;
            color: $color-primary;
            font-weight: bold;
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.field
{
    span.flavor
    {
        color: $color-secondary !important;
    }
}

span.state
{
    font-size: 18px;
    font-weight: bold;
    color: $color-primary;
    text-align: center;
    margin-top: 44px;
}

.buttonsContainer
{
    margin-top: 30px;
}

button.btnPrimary
{
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    float:right;

    background: $color-secondary;
    &:hover
    {
        background: $color-secondary;
    }
}

button.btnSecondary
{
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: $text-primary;
    border-color: $text-secondary;
    margin-right: 32px;
    background: $background-tertiary;

    &:hover
    {
        border-color: $text-secondary;
        background: $background-secondary;
    }
}

[data-theme="white"]
{
    div.field
    {
        > span
        {
            &:first-of-type
            {
                text-shadow: 1px 1px rgba(36, 36, 36, 0.6);
            }
            &:last-of-type
            {
                text-shadow: 1px 1px rgba(36, 36, 36, 0.6);
            }
        }
    }

    .title
    {
        text-shadow: 1px 1px rgba(36, 36, 36, 0.6);
    }

    a.link
    {
        text-shadow: 1px 1px rgba(36, 36, 36, 0.6);
    }
}
