@import "../abstracts/variables",
"../abstracts/mixins";

.containerRoot
{
    z-index: 100;
    position:fixed;
    top: 232px;
    left:calc(100% - 310px - (100% - 900px) / 2);

    opacity: 0.98;
}

.root
{
    display:grid;
    position:relative;
    padding: 10px 4px 10px 10px;
    float:right;
    grid-auto-flow: row;
    background-color: $background-secondary;
    border-radius: 10px;
    animation: $fadeIn-animation;

    filter: drop-shadow(0 0 0.25rem $color-secondary);
}

.buttons
{
    display: grid;
    grid-auto-flow: column;
    height:30px;
}

.btnReset
{
    cursor: pointer;
    font-size: 16pt;
    transition: all 167ms ease-out;
    padding: 0;
    margin: 0;
    justify-self: right;
    right: -10px;

    &:hover
    {
        background-color: transparent;
        font-size: 19pt;
        filter: drop-shadow(0 0 0.25rem $color-secondary);
    }
}

.checked
{
    color: $color-primary;
}

.unchecked
{
    color: $color-secondary;
}

.checkbox
{
    justify-self: left;
    text-shadow: 1px 1px rgb(25 25 25 / 65%);
    animation: $fadeIn-animation;

    margin-left: -4px;
    margin-top: -4px;

    :global(.MuiSwitch-track)
    {
        background-color: $color-primary;
    }

    :global(.MuiSwitch-switchBase)
    {
        color: $color-primary;
    }

    :global(.MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track)
    {
        background-color: $color-secondary;
    }

    :global(.MuiSwitch-switchBase.Mui-checked)
    {
        color: $color-secondary;
    }
}

.wrapperMain
{
    display:grid;
    grid-auto-flow: column;
    height:40px;
    justify-self: right;
    margin:6px 8px;
}

.wrapperTextBox
{
    display:grid;
    grid-auto-flow: column;
}

.label
{
    align-self: center;
    margin-right: 20px;
    margin-top:-1px;
}

.textBox
{
    display: flex;
    max-width: 60px;
    :global(.MuiInputBase-root)
    {
        color: $text-primary;
        font-size: 11pt;
        font-family: Consolas, serif;
        background-color: $background-primary;
    }

    &:first-of-type
    {
        margin-right:10px;
    }
}

.endAdornment
{
    align-self: center;
    margin-left: 6px;
    text-align: center;
    width:40px;
    font-size: 10pt;
}

.select
{
    width: 130px;
    height: 36px;
    justify-self: right;
    margin-right: 10px;
    color: $color-primary;
}
