@import "../variables.scss";

.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 44px;
    font-size: 16pt;
    color: $text-primary;
}

.link {
    margin-left: 30px;
    text-decoration: none;
    color: $text-primary;
    font-weight: 800;
    letter-spacing: 0.5px;
}

button.connectBtn {
    margin-left: 30px;
    border-radius: 40px;
    // margin-top: 4px;
    font-size: 10pt;
    font-weight: 500;

    background: $color-secondary;

    &:hover {
        background: $color-secondary;
    }

    p {
        margin: 0;
    }

    &Small {
        p {
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100px;
        }
    }
}

.logo {
    font-weight: 900;
    font-size: 24pt;
    margin-left: 10px;
    margin-right: 30px;
    white-space: nowrap;
}

.active {
    color: $color-tertiary;
    padding-bottom: 6px;
    border-bottom: 2px solid $color-tertiary;
}
