@import "../abstracts/variables";

.root
{
    display: grid;
    width:100%;
}

.container
{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    margin-bottom:20px;
    justify-items: center;
    animation: $fadeIn-animation;

    cursor: pointer;
    color: $text-primary;
    text-shadow: 2px 1px rgba(5, 15, 25, 0.8);

    &:hover
    {
        color: $text-primary;
    }
}

.selected
{
    color: $color-secondary;
    font-size:14pt;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    border-top: 1px dashed $color-primary;
    border-bottom: 1px dashed $color-primary;
}

.field
{
    margin: 0;
    padding: 0;
    align-self: center;
    &:nth-of-type(2)
    {
        transition: all 250ms ease;
        justify-self: left;

        &:hover
        {
            font-weight: bold;
        }
    }
    &.changing
    {
        animation: change 3996ms;
        animation-iteration-count: infinite;
    }
}

@keyframes open {
    0% {
        opacity: 0;
        height: 0px;
    }
    100% {
        height: 314px;
        opacity: 1;
    }
}

@keyframes close {
    0% {
        height: 314px;
        opacity: 1;
        display:grid;
    }
    100% {
        opacity: 0;
        height: 0px;
        display:none !important;
    }
}

.detailWrapper
{
    margin-top: -30px;
    margin-bottom: -10px;
    transform: scale(0.88);
    justify-self: center;
    background-image: linear-gradient(to bottom, transparent, $background-secondary);
    box-shadow: 4px 4px 29px rgb(15 23 42 / 14%), 4px -2px 30px rgb(15 23 42 / 10%);
    padding: 24px 30px;
    animation: open 333ms ease-in;
    border-radius: 20px;
}

@keyframes change {
    0% { opacity: 1; }
    60% { opacity: 0; }
    80% { opacity: 0.8; }
    100% { opacity: 1; }
}

[data-theme="white"]
{
    .container
    {
        text-shadow: 1px 1px rgba(25, 30, 40, 0.3);
    }
}
