@mixin root () {
    max-width: 900px;
    display: flex;
    margin: auto;
    margin-top: 60px;
    -webkit-animation: MintForm_fadeIn__aN76x 333ms;
    animation: MintForm_fadeIn__aN76x 333ms;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
}

@mixin form($margin-top) {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 14px auto 14px auto;
    position: relative;
    z-index: 1;
    justify-content: space-between;

    :global(.MuiInputBase-root)
    {
        color: $text-primary;

        svg
        {
            color: $text-primary;
        }
    }
}

@mixin pagesRoot($display: flex, $align-items: "", $justify-content: center, $margin: auto, $flex-direction: row) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
  margin: $margin;
  flex-direction: $flex-direction;
}

@mixin card(
  $border-radius,
  $border,
  $box-shadow,
  $display,
  $align-items,
  $flex-direction,
  $user-select,
  $text-align,
  $margin-right,
  $margin-bottom,
  $position
) {
  border-radius: $border-radius;
    border: $border;
  box-shadow: $box-shadow;
  display: $display;
  align-items: $align-items;
  flex-direction: $flex-direction;
  user-select: $user-select;
  text-align: $text-align;
  margin-right: $margin-right;
  margin-bottom: $margin-bottom;
  position: $position;
}