@import "../variables.scss";

.root {
    margin: auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 8%;
    column-gap: 8%;
    overflow: auto;
    padding-right: 7px;
}

.card {
    border-radius: 8px;
    border: 2px solid $text-tertiary;
    user-select: none;
    transition: all 166ms ease-in-out;
    position: relative;
    overflow: hidden;
    min-height: max-content;
}

.title {
    font-size: 14pt;
    margin: 0;
    font-weight: 600;
    white-space: nowrap;
}

.social {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 18px;

    strong {
        margin-right: 6px;
        opacity: 0.7;
    }

    a {
        text-decoration: underline;
        color: $color-secondary;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: bold;
    }
}

.content {
    padding: 20px 12px 30px 12px;
}

[data-theme="white"] {
    .card {
        background: $background-secondary;
    }
}
