@import "../abstracts/variables",
"../abstracts/mixins";

.root {
  @include pagesRoot($display: grid);
  margin-top: 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 4rem;
  min-width: 48rem;
  justify-items: center;
}

.card {
  border-radius: 8px;
  border: 2px solid $text-tertiary;
  transition: all 166ms ease-in-out;
  overflow: hidden;
  background: $background-secondary;
  min-width: 10rem;
  max-width: 18rem;
  padding: 6px;
}

.cardGithub {
  min-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr;
  column-gap: 0;
  margin-top: 8%;
  margin-bottom: 8%;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin-bottom: 4px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;

  strong {
    margin-right: 6px;
    opacity: 0.7;
  }

  a {
    text-decoration: underline;
    color: $color-secondary;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
  }
}

.content {
  padding: 20px 12px 30px 12px;
}
