$breakpoints-values-xs: 0;
$breakpoints-values-sm: 767;
$breakpoints-values-md: 1024;
$breakpoints-values-lg: 1920;

// Palette
$color-primary: #6b9080;
$color-secondary: #785964;
$color-tertiary: #d5c7bc;

$text-primary: #334155;
$text-secondary: #94a3b8;
$text-tertiary: #cbd5e1;

$background-surface-0: #ffffff;
$background-surface-1: #e2e8f0;
$background-surface-2: #f8fafc;

// Dark theme palette
[data-theme="dark"] {
    $text-primary: #f1f5f9;
    $text-secondary: #cbd5e1;
    $text-tertiary: #94a3b8;

    $background-surface-0: #334155;
    $background-surface-1: #475569;
    $background-surface-2: rgb(51, 65, 85, 0.95);
}
