$breakpoints-values-xs: 0;
$breakpoints-values-sm: 767;
$breakpoints-values-md: 1024;
$breakpoints-values-lg: 1920;

// Palette
#__next
{
    --color-primary: #81ad9a;
    // --color-secondary: rgb(192, 167, 24);
    --color-secondary: rgb(216, 193, 60);
    --color-tertiary: rgb(41, 117, 84);

    --text-primary: #334155;
    --text-secondary: #73849c;
    --text-tertiary: #a8b8cb;

    --background-primary: azure;
    --background-secondary: #e2e8f0;
    --background-tertiary: #f8fafc;
}

// Dark theme palette
[data-theme="dark"]
{
    #__next
    {
        --color-primary: rgba(126, 168, 150, 0.8);
        --color-secondary: rgb(205, 135, 70);
        --color-tertiary: #28a770;

        --text-primary: #f1f5f9;
        --text-secondary: #cbd5e1;
        --text-tertiary: #94a3b8;

        --background-primary: #334155;
        --background-secondary: #2b323f;
        --background-tertiary: rgba(59, 70, 85, 0.95);
    }
}

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-tertiary: var(--color-tertiary);

$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-tertiary: var(--text-tertiary);
$text-quarty: var(--text-quarty);

$background-primary: var(--background-primary);
$background-secondary: var(--background-secondary);
$background-tertiary: var(--background-tertiary);

$emoji-font: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
