@import
"src/styles/variables.scss",
"./mixins";

.root {
    @include root(flex, center, center, '', column);
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    height: calc(100% - 160px);

    button:global(.MuiButton-root) {
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
        padding:8px 24px;
        background: $color-primary;

        &:hover {
            background: $color-primary;
        }
    }
}
