@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "src/styles/variables.scss";

html {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Inter", sans-serif;
    color: $text-primary;
    cursor: default;
}

body,
#__next,
.main-content-layout {
    margin: 0;
    height: 100vh;
    background: $background-primary;
    color: $text-primary;
}

.main-content-wrapper {
    margin: 44px;
    margin-bottom: 0px;
    height: calc(100% - 160px);
}

button.MuiButton-root {
    text-transform: none;
}

::-webkit-scrollbar {
    width: 5px;
    -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(25,25,25, 0.15);
    border-radius: 15px;
}

.toast-container {
    margin-top: 60px;

    overflow-y: hidden;
    max-height: 264px;
}

.page-title {
    color: $background-secondary;
    font-size: 16pt;
    font-weight: 600;
    max-width: 900px;
    display: flex;
    padding: 5px 16px;
    margin: 20px auto 30px auto;
    border-radius: 4px;
    align-content: flex-start;
    background: linear-gradient(90deg, $color-primary 0%, $color-tertiary 65%,  $color-secondary 100%);
}
