@mixin root($display, $align-items, $justify-content, $margin, $flex-direction) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
  margin: $margin;
  flex-direction: $flex-direction;
}

@mixin card(
  $border-radius,
  $border,
  $box-shadow,
  $display,
  $align-items,
  $flex-direction,
  $user-select,
  $text-align,
  $margin-right,
  $margin-bottom,
  $position
) {
  border-radius: $border-radius;
  border: $border;
  box-shadow: $box-shadow;
  display: $display;
  align-items: $align-items;
  flex-direction: $flex-direction;
  user-select: $user-select;
  text-align: $text-align;
  margin-right: $margin-right;
  margin-bottom: $margin-bottom;
  position: $position;
}