@import "src/styles/variables.scss";

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes change {
    0% { opacity: 1; }
    60% { opacity: 0; }
    80% { opacity: 0.8; }
    100% { opacity: 1; }
}

.card
{
    border-radius: 8px;
    border: 2px solid $text-tertiary;
    cursor: pointer;
    box-shadow: 4px 3px 10px rgb(15 23 42 / 30%);
    padding : 4px;
    margin: 0px 20px 40px 20px;
    background-color: $background-tertiary;
    overflow:hidden;
    animation: fadeIn 333ms;

    &.changing
    {
        animation: change 3996ms;
        animation-iteration-count: infinite;
    }

    &.S
    {
        width:160px;
        height:200px;
    }

    &.M
    {
        width:186px;
        height:244px;
    }

    &.L
    {
        width:230px;
        height:300px;
    }

    &:hover
    {
        border-color: rgb(107 144 128 / 70%);
        background-color: rgb(107 144 128 / 15%);
        box-shadow: 1px 0px 3px rgb(107 144 128 / 14%), 4px 6px 6px rgb(107 144 128 / 10%);
    }

    img
    {
        width: 100%;
        height: 70%;

        &.S
        {
            height: 77%;
        }
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: height 500ms ease-out;
        border-radius: 6px 6px 0 0;
    }

    img:hover
    {
        height: 79%;
    }
}

[data-theme="white"]
{
    .card
    {
        background: $background-secondary;

        &:hover
        {
            border-color: rgb(41 117 84 / 30%);
            background-color:  rgba(104 90 13 / 10%);
            box-shadow: 1px 0px 3px rgb(107 144 128 / 14%), 4px 6px 6px rgb(107 144 128 / 10%);
        }
    }
}

.content
{
    &.S
    {
        padding: 4px 4px;
    }

    &.M
    {
        padding: 6px 10px;
    }

    &.L
    {
        padding: 8px 12px;
    }
}

.title
{
    font-weight: bold;

    &:first-of-type
    {
        color: $text-tertiary;
        margin-top: 0;
        margin-bottom: 0px;
        letter-spacing: 2px;
        font-size: 16px;

        &.S
        {
            margin-top: -2px;
            font-size: 13px;
        }

        &.M
        {
            margin-top: -1px;
            font-size: 14px;
        }

    }

    &:last-of-type
    {
        display: block;
        color: $text-primary;
        font-style: italic;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 8px;
        margin-bottom: 12px;
        font-size: 12px;

        &.S
        {
            margin-top: 6px;
        }

        &.M
        {
            margin-top: 8px;
        }

        &.L
        {
            font-size: 14px;
        }
    }
}

.moreInfoContainer
{
    display: flex;
    justify-content: space-between;

    &.M
    {
        margin-top: -5px;
    }

    p
    {
        font-weight: 500;
        display: flex;
        align-items: center;
        font-size: 14px;
        letter-spacing: 0.5px;
        margin: 0;

        &.M
        {
            font-size: 8pt;
        }
    }

    svg
    {
        color: $color-secondary;
        font-size: 18px;
        margin-right: 4px;

        &.M
        {
            font-size: 16px;
        }
    }
}