@import
"src/styles/variables.scss",
"src/styles/abstracts/mixins";


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.root
{
    @include root;
}

.form
{
    @include form($margin-top: 16px)
}

.list
{
    height: 216px;
    overflow-y: scroll;
    margin-top: -18px;

    :global(.MuiListSubheader-root)
    {
        color: $text-primary;
        background-color: $background-primary;
    }
}

.dummyImageContainer
{
    background: $color-primary;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 375px;
    width: 375px;
    border-radius: 10px;
    box-shadow: 4px 4px 29px rgb(15 23 42 / 14%), 4px -2px 30px rgb(15 23 42 / 26%);
}

.imageContainer
{
    &:not(.dummyImageContainer)
    {
        > *
        {
            height: 375px;
            width: 375px;
            border-radius: 10px;
            box-shadow: 4px 4px 29px rgb(15 23 42 / 14%), 4px -2px 30px rgb(15 23 42 / 26%);
        }
    }
}

.dot
{
    background: $color-secondary;
    border-radius: 50%;
    width: 55px;
    height: 50px;
}

button.btnMint
{
    background: $color-secondary;

    &:hover
    {
        background: $color-tertiary;
    }

    padding: 11px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
}

div.menuPaper:global(.MuiPaper-root)
{
    max-height: 360px;
    border-radius: 8px;
    text-shadow: 1px 1px rgba(25, 25, 25, 0.2);
}

[data-theme="white"]
{
    .field
    {
        :global(.MuiFormControlLabel-root)
        {
            text-shadow: 1px 1px rgba(10, 10, 10, 0.6);
        }
    }

    .fieldWrapper
    {
        text-shadow: 1px 1px rgba(10, 10, 10, 0.4);
    }
}

[data-theme="dark"]
{
    .fieldWrapper
    {
        &:hover
        {
            fieldset
            {
                border-color: $text-tertiary !important;
            }
        }
    }

    div.menuPaper:global(.MuiPaper-root)
    {
        background-color: rgb(51, 64, 85);
        li
        {
            color: white;
            text-shadow: 2px 1px rgba(10, 10, 10, 0.8);
        }
    }
}

@media only screen and (max-width: 806px) {
    .form {
        width: 100%;
        max-width: 374px;
    }
}