@import "src/styles/variables.scss";

.root {
    display: flex;
}

.detailsContainer {
    display: flex;
    width: 100%;

    > div {
        &:first-of-type {
            display: flex;
            flex-direction: column;
            margin-right: 40px;
        }
        &:last-of-type {
            width: 100%;
        }

        > div {
            &:nth-of-type(1) {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }
    }

    img {
        width: 300px;
        height: 300px;
        background-size: cover;
        background-position: center center;
        border-radius: 10px;
    }
}

a.link {
    color: $color-tertiary;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-top: 30px;
    padding-left: 70px;

    svg {
        margin-left: 6px;
        opacity: 0;
        transition: all 300ms ease-in-out;
    }

    &:hover {
        svg {
            opacity: 1;
        }
    }
}

.title {
    font-size: 22px;
    font-weight: bold;
}

div.field {
    margin-top: 16px;
    display: flex;
    flex-direction: column;

    > span {
        &:first-of-type {
            font-size: 14px;
            letter-spacing: 1px;
        }
        &:last-of-type {
            margin-top: 4px;
            letter-spacing: 0.4px;
            font-size: 18px;
            color: $color-primary;
            font-weight: bold;
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

button.goBackBtn {
    border-radius: 6px;
    border: 2px solid $text-tertiary;
    color: $text-secondary;
    width: 36px;
    height: 36px;
    margin-right: 30px;
}

.buttonsContainer {
    margin-top: 40px;
}

button.btnPrimary {
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;

    background: $color-primary;
    &:hover {
        background: $color-primary;
    }
}

button.btnSecondary {
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: $text-primary;
    border-color: $text-secondary;
    margin-right: 32px;
    background: $background-surface-2;

    &:hover {
        border-color: $text-secondary;
        background: $background-surface-1;
    }
}
