@import "../variables.scss";

button.button {
    display: inline;
    border-radius: 50%;
    margin-left: 25px;
    width: 40px;
    height: 40px;

    svg {
        font-size: 26px;
        color: $text-primary;
    }
}

.sun {
    background: initial;
}

.moon {
    transform: rotate(135deg);
}
