@import "src/styles/variables.scss";

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.root
{
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 60px;
    animation: fadeIn 333ms;
}

.form
{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-top: 14px;

    :global(.MuiInputBase-root)
    {
        color: $text-primary;

        svg
        {
            color: $text-primary;
        }
    }
}

.fieldWrapper
{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    text-shadow: 2px 1px rgba(10, 10, 10, 0.8);

    label
    {
        margin-bottom: 4px;
    }

    fieldset
    {
        border-color: $text-primary;
    }
}

.field
{
    label:global(.MuiFormLabel-root)
    {
        color: $text-primary;
    }

    :global(.MuiFormGroup-root)
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 14px;
    }

    :global(.MuiFormControlLabel-root)
    {
        text-shadow: 2px 1px rgba(10, 10, 10, 0.6);
    }

    :global(.MuiRadio-root.MuiRadio-colorPrimary)
    {
        color: $color-secondary;
        text-shadow: 1px 1px rgba(10, 10, 10, 0.4);
    }

    :global(.MuiInputAdornment-root) p
    {
        color: $text-primary;
    }
}

.dummyImageContainer
{
    background: $color-primary;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 375px;
    width: 375px;
    border-radius: 10px;
    box-shadow: 4px 4px 29px rgb(15 23 42 / 14%), 4px -2px 30px rgb(15 23 42 / 26%);
}

.imageContainer
{
    &:not(.dummyImageContainer)
    {
        > *
        {
            height: 375px;
            width: 375px;
            border-radius: 10px;
            box-shadow: 4px 4px 29px rgb(15 23 42 / 14%), 4px -2px 30px rgb(15 23 42 / 26%);
        }
    }
}

.dot
{
    background: $color-secondary;
    border-radius: 50%;
    width: 55px;
    height: 50px;
}

button.submitBtn
{
    margin-top: 40px;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    background: $color-secondary;

    &:hover
    {
        background: $color-tertiary;
    }
}

div.menuPaper:global(.MuiPaper-root)
{
    max-height: 360px;
    border-radius: 8px;
}

[data-theme="white"]
{
    .field
    {
        :global(.MuiFormControlLabel-root)
        {
            text-shadow: 1px 1px rgba(10, 10, 10, 0.6);
        }
    }

    .fieldWrapper
    {
        text-shadow: 1px 1px rgba(10, 10, 10, 0.4);
    }
}

[data-theme="dark"]
{
    .fieldWrapper
    {
        &:hover
        {
            fieldset
            {
                border-color: $text-tertiary !important;
            }
        }
    }

    div.menuPaper:global(.MuiPaper-root)
    {
        background: rgb(51, 64, 85);
        li
        {
            color: white;
        }
    }
}
