@import "src/styles/variables.scss";

.listRowsHeader
{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    justify-items: center;

    p
    {
        margin-top: 0px;
        &:hover
        {
            color: $color-tertiary;
            cursor: pointer;
            font-weight: bold;
        }
        &:nth-of-type(2)
        {
            justify-self: left;
        }
    };
}

.containerGrid
{
    display: grid;
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
