@import "src/styles/variables.scss";

button.button
{
    color: rgb(0,0,0,0.8);
    margin-left: 25px;
    margin-top: -6px;
    background-color: $background-primary;

    font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;

    &:hover
    {
        background-color: $text-secondary;
    }
}
